.backToTop{
	background: $backToTop;
	bottom: 1em;
	color: $backToTopFont;
	border: 1px solid $borderColor;
	border-radius: 50%;
	display: none;
	height: 5em;
	line-height: 5em;
	opacity: 0.6;
	position: fixed;
	right: 1em;
	text:{
		align: center;
		decoration: none;
	}
	width: 5em;
	z-index: 1000;
}

.introContent{
	border-bottom: 1px solid #bfb5ab;
	margin: 0 auto 2em;
	padding: 1em 0 0;
	width: 90%;
}

.brandMedia{
	background: $white;
	border: 1px solid #948671;
	color: #907f5e;
	font-family: $garamond;
	margin-bottom: 1em;

	@media only screen and (min-width: 450px){
		float: left;
		margin: 0 1% 1em;
	}

	@media only screen and (min-width: 450px) and (max-width: 640px){
		width: 48%;
	}

	@media only screen and (max-width: 640px) {
		text-align: center;
	}

	@media only screen and (min-width: 641px) and (max-width: 850px) { 
		width: 31%;
	}

	@media only screen and (min-width: 851px) { 
		width: 23%;
	}

	ul{
		padding: 0;
		list-style: none;
		text-align: left;
	}

	li{
		color: #ccc;
		list-style: disc;
		margin-left: 1.25em;
	}
}

.brandAssets{
	.v65-podTitle{
		background-color: #ddd4c5;
		padding: 0.5em;
		font:{
			family: $garamond;
			size: 1.14em;
		}
	}

	.v65-podDescription{
		padding: 0.5em;
	}
}

.productMedia{
	@media only screen and (max-width: 640px) { 
		padding: 1em;
	}

	@media only screen and (min-width: 641px) { 
		padding: 0.5em;
	}

	li{
		@media only screen and (max-width: 449px), (min-width: 520px) and (max-width: 640px), (min-width: 770px) and (max-width: 850px), (min-width: 1012px){
			float: left;
			width: 41.5%;
		}

		@media screen and (min-width: 1012px) and (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
			float: none;
			width: 100%;
		}
	}

	.featureImage{
		margin: 0.75em 0;
		text-align: center;
	}

	.productTitle{
		border-bottom: 1px solid #bfb5ab;
		color: #776441;
		font:{
			size: 14px;
			weight: bold;
		}
		text:{
			transform: uppercase;
			align: center;
		}
		line-height: 14px;
		min-height: 42px;
		margin-bottom: 0.5em;
		padding-bottom: 0.5em;
	}
}

.footerAssets{
	margin-bottom: 1em;

	.v65-pod{
		@include garamond-regular;
		padding: 0.5em;
		
		@media only screen and (max-width: 640px){
			margin: 0 0 1em;
		}

		@media only screen and (min-width: 641px){
			float: left;
			margin: 0 1%;
			min-height: 260px;
			width: 32%;
		}

		@media only screen and (min-width: 1025px){
			
		}

		&:first-child{
			@media only screen and (min-width: 641px){
				margin-left: 0;
			}
		}

		&:last-child{
			@media only screen and (min-width: 641px){
				margin-right: 0;
			}
		}
	}

	.v65-podTitle{
		color: #736343;
		font-weight: bold;
		margin-bottom: 0.5em;
		font-size: 16px;
	}

	.v65-podDescription{
		border: 1px solid #948671;
		background-color: #fff;
		@include garamond-regular;
		padding: 5px;
		color: #857657;
		font-size: 14px;

		ul{
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li{
			list-style: disc;
			margin-left: 1.25em;
		}
	}
}