#v65-modalContentHeader{
	background: $headingFontColor;
}

.wrap{
	max-width: 1016px;
	margin: 0 auto;

	@media screen and (min-width: 581px) and (max-width: 1030px){
		padding: 0 10px;
	}
}

.content{
	background: $contentBackgroundColor;
	padding: 0.5em 0.5em 2em;
}

	.pageContent{
		@media screen and (max-width: 767px){
			padding: 1em;
		}
		
		@media screen and (min-width: 768px){
			padding: 3em;
		}
	}

.clear2Up, .clear3Up, .clear4Up{
	display: none;
}

.clear2Up{
	@media only screen and (min-width: 450px) and (max-width: 640px){
		display: block;
	}
}

.clear3Up{
	@media only screen and (min-width: 641px) and (max-width: 850px) { 
		display: block;
	}
}

.clear4Up{
	@media only screen and (min-width: 450px) and (max-width: 640px){
		display: block;
	}

	@media only screen and (min-width: 851px) { 
		display: block;
	}
}

.hideOnMobile{
	@media only screen and (max-width: 640px) { 
		display: none;
	}
}

/* ----- a. Homepage Styles ----- */
@import 'content_introFeatures';

/* ----- b. Page Styles ----- */
@import 'content_page';

/* ----- c. Store Styles ----- */
@import 'content_store';