// Brand Nav

.brand_header{
	background:image-url('brand_nav_bg.gif') repeat-x;
	display: none;
	height:42px;
	overflow: hidden;

	@media only screen and (min-width: 700px){
		display: block;
	}
}
	
	.brands{
		height:42px;
		z-index:110;
		
		li a{
			background:{
				image:image-url('brand_nav.jpg');
				repeat:no-repeat;
			}
			display:block;
			height:42px;
			overflow:hidden;
			text-indent:100%;
			white-space:nowrap;
		}
		
		a.duckhorn{
			background-position:0 0;
			width:109px;
			
			&:hover{
				background-position:0 -42px
			}
		}

		a.paraduxx{
			background-position:-109px 0;
			width:94px;
			
			&:hover{
				background-position:-109px -42px;
			}
		}

		a.goldeneye{
			background-position:-203px 0;
			width:110px;
			
			&:hover{
				background-position:-203px -42px;
			}
		}

		a.migration{
			background-position:-313px 0;
			width:114px;
			
			&:hover{
				background-position:-313px -42px;
			}
		}

		a.decoy{
			background-position:-427px 0;
			width:96px;
			
			&:hover{
				background-position:-427px -42px;
			}
		}
		
		a.wine_shop{
			background-position:-523px 0;
			width:118px;

			&:hover{
				background-position:-523px -42px;
			}
		}
	}


		ul.brand_nav{
			float:left;
			margin:0;
			padding:0;
			list-style:none;

			li{
				float:left;
				margin:0;
				padding:0;
			}
		}

header.primary{
	margin:{
		bottom: 1em;
		top: 1em;
	}
	position: relative;
	width: 100%;
	z-index: 10;
}

	#user-tools {
		@media screen and (max-width: 580px){
			border-bottom: 1px solid $topBarColor;
		}

		a {
			color: $headerFontColor;
		}
	}

	.logo{
		background:{
			image: image-url($logo);
			position: top center;
			repeat: no-repeat;
		}
		background-size: contain;
		display: block;
		height: 86px;
		margin: 0;
		position: relative;
		width: 148px;

		&.errorLogo{
			float: none;
		}

		@media screen and (-webkit-min-device-pixel-ratio: 1.5),	(min-device-pixel-ratio: 1.5){
			background-image: image-url($logo-retina);
		}
		
		@media screen and (max-width: 767px){
			clear: both;
			margin: 0 auto;
		}

		@media screen and (min-width: 768px){
			float: left;
			margin-bottom: 0;
		}
	}